<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h1>Welcome to our site!</h1>
   <p>
     You have successfully signed up to 99 cats!
     You now have access to our database of wonderfully named
     yet oddly similar looking feline companions. Also feel free
     to add your own cat for rental!<br/>
     Your username here is: <%= @user.username %>. Good choice.<br/>
   </p>
   <p>Thanks for joining and have a great day!</p>
 </body>
</html>
