body {
  font-family: arial, sans-serif;
  background-color: DarkSalmon;
  width: 65%;
  margin: 0 auto;
}

section {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}

aside {
  display: inline-block;
  margin-right: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ol {
  list-style: lower-roman inside;
}

.ingredients-list {
  list-style: square inside;
}

.ingredients-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

header > img {
  width: 100;
}

ul li a {
  text-decoration: none;
  color: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

ol li {
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav {
  float: right;
  padding: 20px;
}

header img {
  float: left;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0 20px;
}

input[type="text"], select, textarea {
  display: block;
  width: 150px;
}

label {
  display: block;
}

select {
  width: 200px;
  margin: 10px 0;
}
textarea {
  width: 350px;
}

.burger-dd {
  display: none;
}

@media all and (max-width: 730px) {
  nav ul {
    display: none;
  }

  .burger-dd > ul {
    display: none;
  }

  .burger-dd {
    display: block;
  }

  .burger-dd > li {
    background: url(../assets/hamburger.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }

  .burger-dd ul {
    position: absolute;
    top: 50px;
    left: 0;
    box-shadow: black 5px 5px 10px;
  }

  .burger-dd:hover ul {
    display: block;
    background: ghostwhite;
    width: 115px;
    position: absolute;
  }

  .burger-dd ul li:hover a{
    text-decoration: underline;
  }
}
